.logotype,
.logotype a {
	font-family: 'Assistant', sans-serif;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
}
.logotype strong {
	font-weight: 700;
}
.navigation {
	font-family: 'Assistant', sans-serif;
	font-weight: 200;
	color: #fff;
}
.navigation button {
	font-family: 'Assistant', sans-serif;
	font-weight: 200;
	color: #fff;
	padding: 0 5px;
	font-size: 20px;
	text-transform: none;
}
.navigation-dash {
	margin: 0 5px 0 10px;
}
.restaurant-info {
	width: auto;
	min-height: 100px;
	background-color: rgb(63,81,181);
	color: #FFFFFF;
	margin-bottom: 10px;
}
.restaurant-info .mdl-card--expand {
	padding: 5px 16px;
}
.restaurant-info a {
	color: #FFFFFF;
	text-decoration: none;
}
.restaurant-additional-info {
	width: auto;
	min-height: auto;
	background-color: rgb(63,81,181);
	margin-top: -5px;
	margin-bottom: 10px;
}
.restaurant-additional-info .restaurant-open {
	padding: 10px;
}
.restaurant-additional-info .restaurant-open-time {
	font-size: 0.7em;
	color: #FFFFFF;
}
.restaurant-additional-info .restaurant-open-icon {
	color: #FFFFFF;
	margin-right: 5px;
}
.menu-set {
	width: auto;
	min-height: auto;
	margin-bottom: 10px;
	background-color: #F5F5F5;
}
.menu-set--vegetable {
	background-color: #DCEDC8;
}
.menu-set--light {
	background-color: #B3E5FC;
}
.menu-set--special {
	background-color: #FFECB3;
}
.menu-set--grill {
	background-color: #FFCCBC;
}
.menu-set--dessert {
	background-color: #ECC8ED;
}
.menu-set .menu-title {
	padding-bottom: 0;
}
.menu-set .menu-price {
	padding-top: 0;
	padding-bottom: 0;
}
.menu-set .menu-price .mdl-card__title-text {
	font-size: 1em;
}
.menu-set .menu-components .mdl-list {
	padding: 0;
	margin: 0;
}
.menu-set .menu-components .mdl-list__item {
	font-size: 1em;
	font-weight: 300;
	padding: 10px 0;
	min-height: auto;
}
.mdl-card--red {
	background-color: #d52d28;
}
.mdl-card--green {
	background-color: #348f37;
}
.mdl-mini-footer {
}
.mdl-mini-footer .mdl-logo a {
	color: #FFFFFF;
	text-decoration: none;
}
